<div class="container-fluid body">
    <div class="row">
      <div class="col-md-4 col-md-4 col-md-4"></div>
      <div class="col-md-4 col-md-4 col-md-4">
  <form name="myform" class="form-container" onsubmit="return validateform()" >
    <h1 style="text-align: center;">Login Form</h1>
  <div class="input-group in">
    <span class="input-group-addon"> <i class="glyphicon glyphicon-envelope"></i></span>
  <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
  </div>
  <div class="input-group in">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"> 
  </div>
  <div class="form-group in">
  <label><input type="checkbox" name="Remember">Remember me</label> 
  </div>
  <button type="submit" class="btn btn-success btn-lg re">Submit</button>
  <button type="cancel" class="btn btn-danger btn-lg ga">Cancel</button>
  </form>
  </div>
  </div>
  <div class="col-md-4 col-md-4 col-md-4"></div>
  </div>
  