

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="Landing page.html"><img src="../assets/images/el.png" height=35px width=80px></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="home"><span class="glyphicon glyphicon-home"></span>Home</a></li>
          <li><a routerLink="about"><span class="glyphicon glyphicon-hand-right"></span>About</a></li>
          <li><a routerLink="teachonline"><span class="glyphicon glyphicon-hd-video"></span>Teach Online</a></li>
          <li><a routerLink="contact"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
          <li><a routerLink="cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span>  Signup</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      </ul>
     </div>
    </div>
</nav>
<div class="container">
	<h1 style="margin-top:200px">Find the course for you</h1>
	<div class="row">
		<div class="col-md-4 col-md-5 col-md-3">
      <div class="input-group in">
        <input type="text" style="padding:25px" class="form-control" id="search" placeholder="What do you want to learn?" name=""> 
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
            </div>
            </div>
        </div>
<router-outlet></router-outlet>-->